@using System.Security.Claims
@using BusinessLogicLayer.Enum
<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<title>Ready Bootstrap Dashboard</title>
	<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
	<link rel="stylesheet" href="~/assets/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i">
	<link rel="stylesheet" href="~/assets/css/ready.css">
	<link rel="stylesheet" href="~/assets/css/demo.css">
	<script src="https://cdn.tiny.cloud/1/gjjin66h34yzygzvcmfamxlz0fngpj1lbsjsg2o9d7f5i9gn/tinymce/7/tinymce.min.js" referrerpolicy="origin"></script>

	<script>
		tinymce.init({
		  selector: '#news-content-editor'
		});
	</script>
</head>
<body>
	@{
		var userRole = User.Claims.FirstOrDefault(c => c.Type == ClaimTypes.Role)?.Value;
	}

	<div class="wrapper">
		<div class="main-header">
			<div class="logo-header">
				<div class="logo">
					News Dashboard
				</div>
				<button class="navbar-toggler sidenav-toggler ml-auto" type="button" data-toggle="collapse" data-target="collapse" aria-controls="sidebar" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<button class="topbar-toggler more"><i class="la la-ellipsis-v"></i></button>
			</div>
			<nav class="navbar navbar-header navbar-expand-lg">
				<div class="container-fluid">

					@* <form class="navbar-left navbar-form nav-search mr-md-3" action="">
						<div class="input-group">
							<input type="text" placeholder="Search ..." class="form-control">
							<div class="input-group-append">
								<span class="input-group-text">
									<i class="la la-search search-icon"></i>
								</span>
							</div>
						</div>
					</form> *@
					<ul class="navbar-nav topbar-nav ml-md-auto align-items-center">
						<li class="nav-item dropdown">
							<a class="dropdown-toggle profile-pic" data-toggle="dropdown" href="#" aria-expanded="false"> <img src="~/assets/img/profile.jpg" alt="user-img" width="36" class="img-circle"><span>@User.Identity.Name</span></span> </a>
							<ul class="dropdown-menu dropdown-user">
								<li>
									<div class="user-box">
										<div class="u-img"><img src="~/assets/img/profile.jpg" alt="user"></div>
									</div>
								</li>
								<div class="dropdown-divider"></div>
								<a class="dropdown-item" asp-action="Logout" asp-controller="Account"><i class="fa fa-power-off"></i> Logout</a>
							</ul>
							<!-- /.dropdown-user -->
						</li>
					</ul>
				</div>
			</nav>
		</div>
		<div class="sidebar">
			<div class="scrollbar-inner sidebar-wrapper">
				<div class="user">
					<div class="photo">
						<img src="~/assets/img/profile.jpg">
					</div>
					<div class="info">
						<a class="" data-toggle="collapse" href="#collapseExample" aria-expanded="true">
							<span>
								@User.Identity.Name
								<span class="user-level">@userRole</span>
								<span class="caret"></span>
							</span>
						</a>
						<div class="clearfix"></div>
					</div>
				</div>
				<ul class="nav">
					@if(userRole == Role.Admin.ToString())
					{
						<li class="nav-item @(ViewContext.RouteData.Values["controller"]?.ToString() == "Account" ? "active" : "")">
							<a asp-action="GetAll" asp-controller="Account">
								<i class="la la-dashboard"></i>
								<p>Manage account</p>
							</a>
						</li>
					}
					
					@if (userRole == Role.Staff.ToString())
					{
						<li class="nav-item @(ViewContext.RouteData.Values["controller"]?.ToString() == "Category" ? "active" : "")">
							<a asp-action="GetAll" asp-controller="Category">
								<i class="la la-table"></i>
								<p>Manage category</p>
							</a>
						</li>
						<li class="nav-item @(ViewContext.RouteData.Values["controller"]?.ToString() == "Tag" ? "active" : "")">
							<a asp-action="GetAll" asp-controller="Tag">
								<i class="la la-tag"></i>
								<p>Manage tag</p>
							</a>
						</li>
					}

					<li class="nav-item @(ViewContext.RouteData.Values["controller"]?.ToString() == "NewsArticle" ? "active" : "")">
						<a asp-action="GetAllDashboard" asp-controller="NewsArticle">
							<i class="la la-th"></i>
							<p>Manage News Article</p>
						</a>
					</li>
					@if (userRole == Role.Staff.ToString())
					{
						<li class="nav-item @(ViewContext.RouteData.Values["controller"]?.ToString() == "Account" ? "active" : "")">
							<a asp-action="Profile" asp-controller="Account">
								<i class="la la-gear"></i>
								<p>Manage Profile</p>
							</a>
						</li>
					}
					<li class="nav-item " >
						<a asp-action="Logout" asp-controller="Account">
							<i class="la la-reply-all"></i>
							<p>Logout</p>
						</a>
					</li>

					
					
				</ul>
			</div>
		</div>
		<div class="main-panel">
			<div class="content">
				<div class="container-fluid">
					@RenderBody()
				</div>
			</div>
		</div>
	</div>
	
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert2/11.7.3/sweetalert2.all.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert2/11.7.3/sweetalert2.min.css">

<script src="~/assets/js/core/jquery.3.2.1.min.js"></script>
<script src="~/assets/js/plugin/jquery-ui-1.12.1.custom/jquery-ui.min.js"></script>
<script src="~/assets/js/core/popper.min.js"></script>
<script src="~/assets/js/core/bootstrap.min.js"></script>
<script src="~/assets/js/plugin/chartist/chartist.min.js"></script>
<script src="~/assets/js/plugin/chartist/plugin/chartist-plugin-tooltip.min.js"></script>
<script src="~/assets/js/plugin/bootstrap-toggle/bootstrap-toggle.min.js"></script>
<script src="~/assets/js/plugin/jquery-mapael/jquery.mapael.min.js"></script>
<script src="~/assets/js/plugin/jquery-mapael/maps/world_countries.min.js"></script>
<script src="~/assets/js/plugin/chart-circle/circles.min.js"></script>
<script src="~/assets/js/plugin/jquery-scrollbar/jquery.scrollbar.min.js"></script>
<script src="~/assets/js/ready.min.js"></script>
<script src="~/assets/js/demo.js"></script>
@await RenderSectionAsync("Scripts", required: false)
</html>