@using PresentationLayer.Models.TagViewModels
@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
@model List<TagViewModel>

<button type="button" class="btn btn-success" data-toggle="modal" data-target="#createTagModal">
    + Create Tag
</button>

@await Html.PartialAsync("~/Views/Tag/Partial/_Create.cshtml", new TagCreateViewModel())

<div class="table-responsive">
    <table class="table table-bordered-bd-warning table-head-bg-default" id="tbl-tags">
        <thead>
            <tr>
                <th>Tag ID</th>
                <th>Name</th>
                <th>Note</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr id="row-@item.TagID">
                    <td>@item.TagID</td>
                    <td>@item.TagName</td>
                    <td>@item.Note</td>
                    <td>
                        <a href="javascript:void(0);" onclick="loadUpdateForm('@item.TagID')">
                            Update
                        </a>
                        <a href="javascript:void(0);" onclick="confirmDelete('@item.TagID', '@item.TagName')">
                            Delete
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<div id="modalUpdate"></div>

@section Scripts {
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css">
    <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
    <script>
        $(document).ready(function () {
            $("#tbl-tags").DataTable();
        });

        function loadUpdateForm(id) {
            $.ajax({
                url: '@Url.Action("Update", "Tag")/' + id,
                type: 'GET',
                success: function (result) {
                    $('#modalUpdate').html(result);
                    $('#updateTagModal').modal('show');
                }
            });
        }

        function confirmDelete(id, name) {
            Swal.fire({
                title: 'Are you sure?',
                text: `Do you want to delete "${name}"?`,
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes, delete it!'
            }).then((result) => {
                if (result.isConfirmed) {
                    deleteTag(id);
                }
            });
        }

        function deleteTag(id) {
            $.ajax({
                url: `/Tag/Delete/${id}`,
                type: 'POST',
                success: function (result) {
                    if (result.success) {
                        $(`#row-${id}`).fadeOut('slow', function () {
                            $(this).remove();
                        });

                        Swal.fire({
                            title: 'Deleted!',
                            text: 'Tag has been deleted successfully.',
                            icon: 'success',
                            timer: 2000,
                            showConfirmButton: true,
                        }).then((result) => {
                            if (result.isConfirmed) {
                                location.reload();
                            }
                        });
                    } else {
                        Swal.fire({
                            title: 'Error!',
                            text: result.message,
                            icon: 'error'
                        });
                    }
                },
                error: function () {
                    Swal.fire({
                        title: 'Error!',
                        text: 'A server error occurred. Please try again later.',
                        icon: 'error'
                    });
                }
            });
        }

        $(document).ready(function () {
            $(document).on("click", "#submitCreate", function (event) {
                event.preventDefault();
                $.post("@Url.Action("Create", "Tag")", $("#createTagForm").serialize(), function (response) {
                    if (response.success) {
                        $("#createTagModal").modal("hide");
                        Swal.fire({
                            title: "Tag Created!",
                            text: "The tag has been successfully created.",
                            icon: "success",
                            allowOutsideClick: false,
                            showConfirmButton: true
                        }).then((result) => {
                            if (result.isConfirmed) {
                                location.reload();
                            }
                        });
                    } else {
                        if (response.errors) {
                            displayValidationErrors(response.errors);
                        } else {
                            $(".validation-summary-errors ul").html("<li>An error occurred. Please try again.</li>");
                        }
                    }
                },
                    "json")
            });

            $(document).on("click", "#submitUpdate", function (event) {
                event.preventDefault();
                $.post("@Url.Action("Update", "Tag")", $("#updateTagForm").serialize(), function (response) {
                    if (response.success) {
                        $("#updateTagModal").modal("hide");
                        Swal.fire({
                            title: "Tag Updated!",
                            text: "The tag has been successfully updated.",
                            icon: "success",
                            allowOutsideClick: false,
                            showConfirmButton: true
                        }).then((result) => {
                            if (result.isConfirmed) {
                                location.reload();
                            }
                        });
                    } else {
                        if (response.errors) {
                            displayValidationErrors(response.errors);
                        } else {
                            $(".validation-summary-errors ul").html("<li>An error occurred. Please try again.</li>");
                        }
                    }
                },
                    "json")
            });

            function displayValidationErrors(errors) {
                $(".validation-summary-errors ul").empty();
                $(".field-validation-error").empty();
                $.each(errors, function (key, value) {
                    $(`span[data-valmsg-for="${key}"]`).text(value[0]);
                    $(".validation-summary-errors ul").append(`<li>${value[0]}</li>`);
                });
            }
        });
    </script>
}
